<!-- base.htmlに出力する -->
{% extends 'base.html' %}
<!-- staticファイルを読み込む -->
{% load static %}
<!-- titleを設定しbase.htmlに出力した際に反映させる -->
{% block title %}
就職サービス口コミサイト | Caricomi
{% endblock %}




<!-- base.htmlのheader部分に出力する -->
{% block header %}
<header class= "masthead text-center text-white">
    <div class= "masthead-content">
        <div class= "container">
            <h1 class="masthead-heading mb-0">CARICOMI</h1>
            <h2 class="masthead-subheading mb-o">キャリコミ</h2>
            <h2 class=" mb-o">〜 就職サービス口コミサイト 〜</h3>
            <a href="{% url 'account_login' %}" class="btn btn-primary btn-xl rounded-pill mt-5">ログイン</a>
        </div>
    </div>

    <div class="bg-circle-1 bg-circle"></div>
    <div class="bg-circle-2 bg-circle"></div>
    <div class="bg-circle-3 bg-circle"></div>
    <div class="bg-circle-4 bg-circle"></div>
</header>
{% endblock %}

{% block contents %}
<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/career01.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">自分の就職活動を管理できる</h2>
                    <p class="lead">日記のように面談記録や企業情報を管理できます！！</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/career02.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="p-5">
                    <h2 class="display-4">他の人の口コミも見れる</h2>
                    <p class="lead">口コミ機能でみんなが利用したサービスの情報も見れます！！</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6 order-lg-2">
                <div class="p-5">
                    <img class="img-fluid rounded-circle" src="{% static 'img/career03.png' %}" alt="">
                </div>
            </div>
            <div class="col-lg-6 order-lg-1">
                <div class="p-5">
                    <h2 class="display-4">就職活動を効率的に！</h2>
                    <p class="lead">様々な機能を使い就職活動を効率的に進められます！！</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}