{% extends 'base.html' %}
{% load static %}

{% block title %}お問い合わせ | Private {% endblock %}

{% block active_inquiry %}active{% endblock %}


{% block head %}<link rel="stylesheet" href="{% static 'css/clean-blog.min.css' %}">{% endblock %}

{% block contents %}
<div class="container mt-3">
    <div class="row justify-content-center ">
        <div class="my-div-style ">
            <form class=""  method= 'post'>
                <!--CSRF対策用タグ　※post通信でこのタグをつけていないとDjangoは403エラーを返す-->
                {% csrf_token %}
                {{form.non_field_errors}}
                <table class="table  table-active text-center">
                    <tbody class="">
                        {% for field in form %}
                            <tr class="mb-3 ">
                                <th class="t">{{field.label}}</th>
                                <td>{{field}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <div class="offset-sm-4 col-sm-7 mt-4 mb-4">
                    <button class="btn btn-info" type="submit">送信</button>
                </div>
            </form>
            
        </div>
    </div>
</div>
{% endblock %}